
.tga-section-filter ul{width:100%;}
.tga-section-filter ul li{float:left; clear:none; width:50%;}
.tga-section-filter ul li .btn-dark{margin:5px 0px 0px 0px; height:44px; font-size:12px; background-color:#4D4D4D; float:right;}


