/**/

aside.tga-lado3.lado-a{margin-right:0px; height:875px !important;;}
aside.tga-lado3.lado-b .btnNew{float:right; clear:both; margin-right:20px;}
aside.tga-lado3.lado-c iframe{height:300px;}
aside.tga-lado3.lado-c .images{display:table; width:100%;}
aside.tga-lado3.lado-c .images img{width:100%;}
.tga-contenido .tga-cuadro .custom-select{margin-bottom:10px !important;}
.tga-contenido .tga-cuadro label{float:left; font-size:12px; color:#4D4D4D; margin-right:15px;}
.tga-contenido .tga-cuadro input[type="radio"]{float:left; margin:3px 5px 0px 0px;}

